body{
    font-family: "Fira Sans", serif;
    width: 80%;
    margin:auto;
    background-color:rgba(227, 219, 219, 0.7);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    border-radius:16px;
}
.button-1{
    background-color: green;
    color: white;
    padding: 12px;
    border-radius: 4px;
    border-style: none;

}
h3{
    width:600px;
    font-size:56px;
    font-weight: 700;
}
#name{
    font-size: 32px;
    font-weight: 700;
}
#button-2{
    padding: 8px;
    color: darkgreen;
    font-size: 24px;
    border-radius: 4px;
    font-weight: 600;
}
#opacity{
    opacity: 0.5;
}
.card-1{
    box-sizing: border-box;
    width:420px;
    height:325px;
    background-color: rgb(141, 213, 237);
    padding: 24px;
    gap: 12px;
    border-radius:16px;
}
#bttn-3{
    background-color: rgb(66, 148, 242);
    color: white;
    border-radius:4px;
    font-size: 16px;
    font-weight: 550;
    border-style: none;
    align-items: center;
    padding: 12px;
}

#bttn-4{
    background-color:rgb(134, 224, 134);
    color: white;
    border-radius:4px;
    font-size: 16px;
    font-weight: 550;
    border-style: none;
    align-items: center;
    padding: 12px;
}
.card-2{
    box-sizing: border-box;
    width: 420px;
    height:325px;
    background-color: rgb(142, 235, 142);
    padding: 24px;
    gap: 12px;
    border-radius:16px;
}
#bttn-5{
    color: white;
    border-radius:4px;
    background-color: rgb(223, 179, 97);
    font-size: 16px;
    font-weight: 550;
    border-style: none;
    align-items: center;
    padding: 12px;
}
.card-3{
    box-sizing: border-box;
    width: 420px;
    height:325px;
    background-color:rgb(246, 199, 113);
    padding: 24px;
    gap: 12px;
    border-radius:16px;
}
.card-container{
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    border-style: none;
    border-radius: 15px;
}
#mrg{
    font-weight: 400;
    padding: 32px;
    font-size: 16px;
}
.Recent-container{
    display: flex;
    gap: 32px;
    background-color: white;
    padding:48px;
    border-radius: 16px;
}
.ib{
    border-radius: 16px;
}
.time{
    display: flex;
    gap: 40px;
}
.btn-secondary{
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    color: white;
}
.rd{
    width:700px;
}
.recent-container{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: white;
    padding:48px;
    border-radius: 16px;
}
.piller{
    font-size: 56px;
    width:1280px;
    font-weight:800px;
}
.piller-card-section{
    display: flex;
    gap:34px;
}
.pi-card-1{
    box-sizing: border-box;
    width: 900px;
    height:250px;
    background-color: white;
    font-size: 16px;
    font-weight:400;
    padding:16px;
    border-radius: 16px;
    border-style: none;
    border: 1px solid;
    margin: 24px;
}
.pi-card-2{
    box-sizing: border-box;
    width: 900px;
    height:250px;
    background-color: white;
    font-size: 16px;
    font-weight:400;
    padding:16px;
    border-radius: 16px;
    border-style: none;
    border: 1px solid;
    margin: 24px;
}
.pi-card-3{
    box-sizing: border-box;
    width: 900px;
    height:250px;
    background-color: white;
    font-size: 16px;
    font-weight:400;
    padding:16px;
    border-radius: 16px;
    border-style: none;
    border: 1px solid;
    margin: 24px;
}
.pi-card-4{
    box-sizing: border-box;
    width:900px;
    height:250px;
    background-color: white;
    font-size: 16px;
    font-weight:400;
    padding:16px;
    border-radius: 16px;
    border-style: none;
    border: 1px solid;
    margin: 24px;
}